<p id="notice"><%= notice %></p>

<p>
  <strong>Supplierid:</strong>
  <%= @supplier.SupplierID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @supplier.Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @supplier.Telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.Email %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
