<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CustomerID %>
    <%= form.number_field :CustomerID, id: :customer_CustomerID %>
  </div>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_field :FirstName, id: :customer_FirstName %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :LastName, id: :customer_LastName %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address, id: :customer_Address %>
  </div>

  <div class="field">
    <%= form.label :Telephone %>
    <%= form.text_field :Telephone, id: :customer_Telephone %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :customer_Email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
